<main class="container">
  <header>
    <h1>Apex Invest</h1>
    <p>Simulador de Patrimônio</p>
  </header>

  <div class="dashboard-grid">
    <section class="configuracao">
      <app-formulario (aoSimular)="atualizarResultados($event)"></app-formulario>
    </section>

    <section class="visualizacao">
      <app-resultado-cards [resultados]="resultadosSimulacao()"></app-resultado-cards>

      <app-insights [resultados]="resultadosSimulacao()"></app-insights>

      <app-grafico-evolucao [resultados]="resultadosSimulacao()"></app-grafico-evolucao>

      <app-tabela-evolucao [resultados]="resultadosSimulacao()"></app-tabela-evolucao>
    </section>
  </div>
</main>
